<form action="/signin" method="POST">
    <div class="form-group text-left">
        <label>Usuario</label>
        <input type="text" name="username" placeholder="Usuario" class="form-control" autofocus required>
    </div>
    <div class="form-group text-left">
        <label>Contraseña</label>
        <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
    </div>
    <div class="form-group">
        <button class="btn btn-succes btn-block">
            Enviar 
        </button>
    </div>
</form>